<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
    <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
    <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
    <property name="hibernate.connection.username">mario</property>
    <property name="hibernate.connection.password">2kjkszpj</property>
    <mapping resource="hibernate/dto/Actividad.hbm.xml"/>
    <mapping resource="hibernate/dto/VistaActividadesAlojamiento.hbm.xml"/>
    <mapping resource="hibernate/dto/Alojamiento.hbm.xml"/>
    <mapping resource="hibernate/dto/Habitacion.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
